.experience h1 {
	font-size: 4em;
	font-weight: 800;
	line-height: 1.1;
	letter-spacing: -0.03em;
	color: #ccf381;
}

@media (max-width: 768px) {
	.experience h1 {
		font-size: 2.8em; /* or adjust as needed */
	}
}

.experience p {
	line-height: 1.6;
	font-size: 1.07em;
	font-weight: 400;
	color: white;
}
