.hero {
	background-image: url("../images/hero-bg.png");
	background-size: cover;
	background-position: center;
}

.hero .subtitle {
	font-size: 1.1em;
	color: white;
	font-weight: 400;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}

.hero .gwapo {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#my-work-btn-hero {
	color: #ccf381;
}

#my-work-btn-hero:hover {
	color: #4831d4;
}

/* Mobile: <640px */
@media screen and (max-width: 639px) {
	.hero {
		padding: 6em 2rem;
		text-align: center;
	}
	#hero-title {
		display: none;
	}

	#hero-title-mobile {
		display: block;
		font-size: 2em;
	}

	#hero-title-mobile-roles {
		text-align: center !important;
	}

	.subtitle {
		margin-top: 1.2em;
		font-size: 0.75em !important;
	}

	.action-buttons {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.action-buttons a {
		margin: 0.5em 0;
		padding: 0.4em 1.2em;
		font-size: 0.9em;
	}

	#hero-image {
		margin-top: 3em;
	}
}

/* sm: 640px – 767px */
@media (min-width: 640px) and (max-width: 767px) {
	.hero {
		padding: 6em 4em;
		text-align: center;
	}

	#hero-title {
		display: none;
	}

	#hero-title-mobile {
		display: block;
		font-size: 2.5em;
		line-height: 1.2;
	}

	.subtitle {
		margin-top: 1.2em;
		font-size: 0.9em !important;
	}

	.action-buttons {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.action-buttons a {
		margin: 0.5em;
		padding: 0.4em 1.2em;
		font-size: 0.9em;
	}

	#hero-image {
		margin-top: 3em;
	}
}

/* md: 768px – 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
	.hero {
		padding: 10em 3em;
	}

	#hero-title {
		display: none;
	}

	#hero-title-mobile {
		display: block;
		font-size: 2.5em;
		line-height: 1.2;
	}

	.subtitle {
		margin-top: 1.2em;
		font-size: 0.9em !important;
	}

	.action-buttons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}

	.action-buttons a {
		padding: 0.4em 1.2em;
		font-size: 0.9em;
	}

	#hero-typing {
		font-size: 2rem;
	}

	#hero-text {
		width: 60%;
	}

	#hero-image {
		width: 40%;
		height: auto;
		border-radius: 10px;
	}

	#hero-image img {
		width: 100%;
		height: auto;
		margin: auto 0;
	}
}

/* lg: 1024px – 1279px */
@media (min-width: 1024px) and (max-width: 1279px) {
	.hero {
		padding: 10em 3em;
	}

	#hero-title {
		display: none;
	}

	#hero-title-mobile {
		display: block;
		font-size: 2.5em;
		line-height: 1.2;
	}

	#hero-title-mobile-roles {
		font-size: 3.3rem;
		font-weight: bold;
		line-height: 0.9;
		letter-spacing: -0.03em;
	}

	.subtitle {
		margin-top: 1.2em;
		font-size: 0.9em !important;
	}

	.action-buttons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}

	.action-buttons a {
		padding: 0.4em 1.2em;
		font-size: 0.9em;
	}

	#hero-typing {
		font-size: 2rem;
	}

	#hero-text {
		width: 60%;
	}

	#hero-image {
		width: 40%;
		height: auto;
		border-radius: 10px;
	}

	#hero-image img {
		width: 100%;
		height: auto;
		margin: auto 0;
	}
}

/* xl: 1280px – 1535px */
@media (min-width: 1280px) and (max-width: 1535px) {
	.hero {
		padding: 6em 6em;
	}

	#hero-title {
		display: none;
	}

	#hero-title-mobile {
		display: block;
		font-size: 2em;
		line-height: 1.2;
	}

	#hero-title-mobile-roles {
		font-size: 3.5rem;
		font-weight: bold;
		line-height: 0.9;
		letter-spacing: -0.03em;
	}

	.subtitle {
		margin-top: 3em;
		font-size: 0.9em !important;
	}

	.action-buttons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}

	.action-buttons a {
		padding: 0.4em 1.2em;
		font-size: 0.9em;
	}

	#hero-text {
		width: 60%;
	}

	#hero-image {
		width: 40%;
		height: auto;
		border-radius: 10px;
	}

	#hero-image img {
		max-width: 400px;
		height: auto;
		margin: auto 0;
	}
}

/* 2xl: ≥1536px */
@media (min-width: 1536px) and (max-width: 1919px) {
	.hero {
		padding: 5em 10em;
	}

	#hero-title {
		display: none;
	}

	#hero-title-mobile {
		display: block;
		font-size: 2.5em;
		line-height: 0.6;
	}

	#hero-title-mobile-roles {
		font-size: 4rem;
		font-weight: bold;
		line-height: 0.9;
		letter-spacing: -0.03em;
	}

	.subtitle {
		margin-top: 3em;
		font-size: 0.9em !important;
	}

	.action-buttons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}

	.action-buttons a {
		padding: 0.4em 1.2em;
		font-size: 0.9em;
	}

	#hero-text {
		width: 50%;
		margin-right: 10%;
	}

	#hero-image {
		width: 40%;
		height: auto;
		border-radius: 10px;
	}

	#hero-image img {
		max-width: 500px;
		height: auto;
		margin: auto 0;
	}
}

@media (min-width: 1920px) {
	.hero {
		padding: 5em 10em;
	}

	#hero-title {
		display: none;
	}

	#hero-title-mobile {
		display: block;
		font-size: 2.5em;
		line-height: 0.6;
	}

	#hero-title-mobile-roles {
		font-size: 5rem;
		font-weight: bold;
		line-height: 0.9;
		letter-spacing: -0.03em;
	}

	.subtitle {
		margin-top: 2em;
		font-size: 1.1em !important;
	}

	.action-buttons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}

	.action-buttons a {
		padding: 0.8em 1.5em;
		font-size: 1.1em;
	}

	#hero-text {
		width: 50%;
		margin-right: 10%;
	}

	#hero-image {
		width: 40%;
		height: auto;
		border-radius: 10px;
	}

	#hero-image img {
		max-width: 500px;
		height: auto;
		margin: auto 0;
	}
}
