#main {
        margin: calc(3.5em * 1.2) 7vw;
}

#profile-summary #name {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 4.5rem;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #4831d4;
}

#profile-summary h2 {
    margin: 0;
    font-weight: normal;
}

.company-info h4 {
    margin-top: 12px;
    margin-bottom: 2px;
}

h3, h4  {
    color: #4831d4;
}

p,ul {
    color: rgba(71, 71, 71, 0.75);
}

.company:not(:last-of-type) {
    margin-bottom: 2rem;
}

/* .company header {
    display: flex;
} */

.company .points {
    margin-top: 1em;
    margin-left: 1em;
}

ul li:before {
    width: 0.4em;
    height: 0.4em;
    margin-right: 0.3em;
    vertical-align: 10%;
    display: inline-block;
    filter: contrast(1.2);
}

.company h4{
    margin-top: 0px;
    margin-bottom: 0px;
}